{% extends 'base.html' %}
{% block title %}
Classes
{% endblock %}

{% block content %}
<form class="form-register" style="color:white" method="GET">
  <input class="form-control mr-sm-2" type="search" placeholder="Search by Class Name" name="q">
  <button class="btn btn-outline-success my-2 my-0" type="submit" name="search">Search</button>
  <button class="btn btn-outline-success my-2 my-0" type="submit" name="reset" href="index{{url_for('classes')}}">Reset</button>
</form>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <!-- Your Columns HERE -->
      <th scope="col">Name</th>
      <th scope="col">Instructor</th>
      <th scope="col">Description</th>
      <th scope="col">Spots Left</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <!-- Your rows inside the table HERE: -->
    {% for class in results %}
    <tr>
      <td>{{ class[2] }}</td>
      <td>{{ class[1] }}</td>
      <td>{{ class[3] }}</td>
      <td>{{ class[4] }}</td>
      <td>{{ class[5] }}</td>
      <td>
      <td>
      {%if "user" in session%}
        <a href="/member_register/{{class[0]}}">
      <input type="submit" name="member_register" value="Register" class='btn btn-outline btn-info' style="float: right; margin:5px;">
        </a>
      {%elif "admin" in session%}
      <a href="/trainer_register/{{class[0]}}">
    <input type="submit" name="trainer_register" value="Teach this class" class="btn btn-outline btn-success" style="float: right; margin:5px;">
      </a>
      {%endif%}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
